## Define Function that Makes a Dashboard

We will import the following libraries.

In [2]:
import pandas as pd
from bokeh.plotting import figure, output_file, show,output_notebook

In [3]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

The dictionary links contain the CSV files with all the data. The value for the key GDP is the file that contains the GDP data. The value for the key unemployment contains the unemployment data.

In [4]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

## Question 1: Create a dataframe that contains the GDP data and display the first five rows of the dataframe.

Use the dictionary links and the function pd.read_csv to create a Pandas dataframes that contains the GDP data.

Hint: links["GDP"] contains the path or name of the file.

In [7]:
df = pd.read_csv(links["GDP"])

Use the method head() to display the first five rows of the GDP data, then take a screen-shot.

In [8]:
df.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

## Question 2: Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe.

Use the dictionary links and the function pd.read_csv to create a Pandas dataframes that contains the unemployment data.

In [9]:
df = pd.read_csv(links["unemployment"])

Use the method head() to display the first five rows of the GDP data, then take a screen-shot.

In [10]:
df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

## Question 3: Display a dataframe where unemployment was greater than 8.5%. Take a screen-shot.

In [11]:
ndf = df.loc[df['unemployment'] > 8.5]
ndf

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

## Question 4: Use the function make_dashboard to make a dashboard

In this section, you will call the function make_dashboard , to produce a dashboard. We will use the convention of giving each variable the same name as the function parameter.

Create a new dataframe with the column 'date' called x from the dataframe that contains the GDP data.

In [12]:
df = pd.read_csv(links["GDP"])
x = df['date']

Create a new dataframe with the column 'change-current'  called gdp_change from the dataframe that contains the GDP data.

In [13]:
gdp_change  = df['change-current']

Create a new dataframe with the column 'unemployment'  called unemployment from the dataframe that contains the unemployment data.

In [14]:
df = pd.read_csv(links["unemployment"])
unemployment = df['unemployment']

Give your dashboard a string title, and assign it to the variable title

In [15]:
title = 'Unemploy'

Finally, the function make_dashboard will output an .html in your direictory, just like a csv file. The name of the file is "index.html" and it will be stored in the varable file_name.

In [16]:
file_name = "index.html"

Call the function make_dashboard , to produce a dashboard. Assign the parameter values accordingly take a the , take a screen shot of the dashboard and submit it.

In [17]:
# make_dashboard(x=, gdp_change=, unemployment=, title=, file_name=)
make_dashboard(x=x, gdp_change=gdp_change, unemployment=unemployment, title='Unemplyment vs GDP', file_name='index.html')